h1 {
    font-size: 70px;
    margin: 0px;
    font-color: red;
}

.top {
    background-color: white;
}

body {
    background-color: orange;
}

header {
    text-align: center;

}
nav {
    overflow: hidden;
    background-color: white;
}

div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    margin: 10px;
    background-color: white;
    color: black;
    line-height: 20px;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;

}

h3 {
    background-color: white;
    color: black;
}

.content {
    font-size: 17px;
}

a:link {
    color: black;
}

/* visited link */
a:visited {
    color: orangered;
}

/* mouse over link */
a:hover {
    color: orange;
}

/* selected link */
a:active {
    color: darkslategray;
}